---
import SideBarFooter from './SideBarFooter.astro';
import { Image } from 'astro:assets';
import SideBarMenu from './SideBarMenu.astro';
import '@fontsource-variable/space-grotesk';
const { sideBarActiveItemID } = Astro.props;
---

<div class='drawer-side z-40'>
  <label for='my-drawer' class='drawer-overlay'></label>
  <aside
    class='px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col'
  >
    <div class='w-fit mx-auto mt-5 mb-6'>
      <div class='transition ease-in-out hover:scale-[102%] block m-auto'>
        <div class='w-[10.75rem] flex justify-between items-center'>
          <Image
            class='mask mask-circle rounded-full border-2 border-[rgb(167,146,146)] border-opacity-35'
            format='png'
            width={300}
            height={300}
            src='/profile.png'
            alt='Profile image'
          />
        </div>
        <h1 class='my-2 text-center font-bold'>Álvaro Ramírez</h1>
        <div class='flex justify-between items-center'>
          <p id='email' class='my-2 text-center'>arl5790@gmail.com</p>
          <svg
            id='clipboardIcon'
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='-6 -6 36 36'
            fill='currentColor'
            ><path
              d='M19 3h-2.25a1 1 0 0 0-1-1h-7.5a1 1 0 0 0-1 1H5c-1.103 0-2 .897-2 2v15c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zm0 17H5V5h2v2h10V5h2v15z'
            ></path></svg
          >
          <svg
            id='checkIcon'
            xmlns='http://www.w3.org/2000/svg'
            width='24'
            height='24'
            viewBox='-6 -6 36 36'
            fill='currentColor'
            style='display:none;'
            ><path
              d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'
            ></path></svg
          >
        </div>
      </div>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>

<script>
  document
    .getElementById('clipboardIcon')
    .addEventListener('click', function () {
      // Selecciona el texto del correo electrónico
      var email = document.getElementById('email');
      var range = document.createRange();
      range.selectNode(email);
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(range);

      // Copia el texto seleccionado al portapapeles
      document.execCommand('copy');

      // Elimina la selección de texto
      window.getSelection().removeAllRanges();

      // Muestra el SVG temporal
      document.getElementById('clipboardIcon').style.display = 'none';
      document.getElementById('checkIcon').style.display = 'inline-block';

      // Vuelve a mostrar el SVG original después de 2 segundos
      setTimeout(function () {
        document.getElementById('clipboardIcon').style.display = 'inline-block';
        document.getElementById('checkIcon').style.display = 'none';
      }, 2000);
    });
</script>
